# =========================================
# .NET Build
# =========================================

**/bin
**/obj/
**/out/


# =========================================
# Visual Studio / Rider
# =========================================

.vs/
.idea/

# =========================================
# User files
# =========================================

*.user
*.suo

# =========================================
# NuGet
# =========================================

*.nupkg
*.snupkg
**/packages/
.nuget/

# =========================================
# Logs
# =========================================

*.log

# =========================================
# Local databases
# =========================================

*.db

# =========================================
# Temporary files
# =========================================

*.bak
*.tmp
